{% extends "base.html" %}

{% block content %}

    {% if avatar %}
        <h1>Текущий аватар:</h1>
        <img src={{avatar}} alt="картинка-аватар">
    {% else %}
        <h1>Аватар ещё не загружен.</h1>
    {% endif %}


    <form action="" method="post" enctype="multipart/form-data" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {{ form.file(type="file", class="form-control-file") }}
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </form>
{% endblock %}